@charset "utf-8";

/*ちんちん*/
body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    color: #696969;
    background-image: url(../img/back.png);
    background-repeat: repeat;
    font-family: Meiryo,"ＭＳ ゴシック";
    font-size: 0.9em;
}

p {
	margin: 0 0 20px 0;
}
/*---------------*/

/*へぇﾞっだぁー*/

header {
    height: 70px;
    margin: 0 auto 10px auto;
    background-image: url(../img/head.png);
    background-repeat: repeat;
    position: relative;
}

header h1 {
    margin: 0 auto 0 auto;
    position: absolute;
    color: #BBB8B8;
}

#header-inner {
    width: 750px;
    margin: 0 auto 0 auto;
    position: relative;
}

/*へっだー なびがーしょん*/
nav {
    position: absolute;
    right: 0;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a{
    background-color: #3F1D3F;
}

nav ul li a:hover {
    background-color:#FED6FF;
    color:#000000;
}

/*まいん*/

#primary {
    width: 750px;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
}

#primary main h1{
    font-size: 1.5em;
}
