@charset "utf-8";

/*ちんちん*/
body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    color: #696969;
    background-image: url(../img/back.png);
    background-repeat: repeat;
    font-family: Meiryo,"ＭＳ ゴシック";
    font-size: 11pt;
}

p {
	margin: 0 0 20px 0;
}
/*---------------*/

/*へぇﾞっだぁー*/

header {
    height: 70px;
    margin: 0 auto 10px auto;
    background-image: url(../img/head.png);
    background-repeat: repeat;
    position: relative;
}

header h1 {
    margin: 5px auto 0 auto;
    position: absolute;
    color: #BBB8B8;
}

#header-inner {
    width: 750px;
    margin: 0 auto 0 auto;
    position: relative;
}

/*へっだー なびがーしょん*/
nav {
    position: absolute;
    right: 0;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a{
    background-color: #3F1D3F;
    text-decoration: none;
}

nav ul li a:hover {
    background-color:#FED6FF;
    color:#000000;
    text-decoration: none;
}

/*まいん*/

#primary {
    width: 750px;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
}

#primary main {
    width:720px;
    margin:20px auto 20px auto;
}

#primary main h1{
    font-size: 18pt;
}
#primary main h2{
    font-size: 14pt;
}

img {
    border: 0;
}

img.float_right{
	margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 6px;
	float:right;
}