@charset "utf-8";

/*ちんちん*/
body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    color: #696969;
    background-image: url(../img/back.png);
    background-repeat: repeat;
    font-family: Meiryo,"ＭＳ ゴシック";
    font-size: 11pt;
}

p {
	margin: 0 0 20px 0;
}
/*---------------*/

/*へぇﾞっだぁー*/

header {
    height: 70px;
    margin: 0 auto 10px auto;
    background-image: url(../img/head.png);
    background-repeat: repeat;
    position: relative;
}

header h1 {
    margin: 13px auto 0 auto;
    position: absolute;
    color: #BBB8B8;
}

#header-inner {
    width: 750px;
    margin: 0 auto 0 auto;
    position: relative;
}

/*へっだー なびがーしょん*/
nav {
    position: absolute;
    right: 0;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 25px auto 0 auto;
}

nav ul li {
    float: left;
}

nav ul li a{
    background-color: #3F1D3F;
    text-decoration: none;
}

nav ul li a:hover {
    background-color:#FED6FF;
    color:#000000;
    text-decoration: none;
}

/*りんく*/
a:link {
    color:#696969; text-decoration:none
}
a:visited {
    color:#696969; text-decoration:none
}
a:hover {
    color:#000000; text-decoration:none
}
a:active {
    color:#696969; text-decoration:none
}

/*まいん*/

#primary {
    width: 750px;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
}

#primary main {
    width:720px;
    margin:20px auto 20px auto;
}

#primary main h1{
    font-size: 18pt;
}
#primary main h2{
    font-size: 14pt;
}

#primary main a:link {
    color:#dd00ff; text-decoration:none
}
#primary main a:visited {
    color:#ba3bce; text-decoration:none
}
#primary main a:hover {
    color:#5900ff; text-decoration:none
}
#primary main a:active {
    color:#c05ace; text-decoration:none
}


#primary main twitter {
    width: 720;
    margin: 0;
}



img {
    border: 0;
}

img.float_right_size{
	margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 6px;
    float:right;
    width: 90px;
    height: 90px;
}



/*すまほ*/
@media only screen and (max-device-width: 480px) {
    body {
        margin: 0;
        padding: 0;
        line-height: 1.4;
        color: #696969;
        background-image: url(../img/back.png);
        background-repeat: repeat;
        font-family: Meiryo,"ＭＳ ゴシック";
        font-size: 1.45em;
    }
    #header-inner {
        width: 100%;
        margin: 0 auto 0 auto;
        position: relative;
    }

    header h1 {
        margin: -3px auto 0 auto;
    }
    nav ul {
        margin: 4px auto 0 auto;
    }
    nav ul li {
        font-size:1.6em;
    }
    #primary {
        width: 100%;
        margin: 0 auto 0 auto;
        background-color: #ffffff;
    }
    
    #primary main {
        width:98%;
        margin:20px auto 20px auto;
        font-size: 1.6em
    }
    #primary twitter {
        width: 60%;
        margin: 0;
        font-size: 1.0em;
    }

    img.float_right_size{
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 6px;
        float:right;
        width: 190px;
        height: 190px;
    }
    
    
   }